.person_details {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}
.person_details h1,
img,
ul {
  margin: 1rem;
}
.person_details img {
  border-radius: 50%;
}
.person_details ul li {
  list-style-type: none;
  padding-bottom: 1rem;
  font-size: 18px;
}
.person_details ul li:hover {
  font-size: 22px;
}
.back {
  padding: 1rem;
  font-size: large;
}
.icon {
  font-size: small;
}
